{% extends "adminLayout.html" %}
{% block content %}
<h2>Update User</h2>
<form method="POST" class="p-4 bg-white text-white rounded">
    <div class="mb-3">
        <input class="form-control" type="text" name="username" value="{{ user[1] }}" required>
    </div>
    <div class="mb-3">
        <input class="form-control" type="email" name="email" value="{{ user[2] }}" required>
    </div>
    <div class="mb-3">
        <input class="form-control" type="password" name="password" value="{{ user[3] }}" required>
    </div>
    <button class="btn btn-primary">Update</button>
    <a href="{{ url_for('UserList') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
